{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img width="30em" src="{% static 'img/logo.png' %}" alt="Logo"> AlbumSV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

      <ul class="navbar-nav" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/explore">Khám phá</a>
          </li>
          <li>
            <a class="nav-link active" href="/accounts/vote">Đánh giá</a>
          </li>

          {% if not username %}
            <li class="nav-item active">
                <a class="nav-link" href="/accounts/login">Đăng nhập</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/accounts/signup">Đăng kí</a>
            </li>
          {% else %}
              <li class="nav-item active dropdown bg-dark text-light">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ username }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'accounts:profile' username %}">Profile</a>
                      <a class="dropdown-item" href="/accounts/logout">Đăng xuất</a>
                  </div>
              </li>
          {% endif %}
        


          <li class="nav-item" style="margin-left: 55.5em;">
            <form action="{% url 'accounts:search' %}" method="POST" class="form-inline my-2 my-lg-0">
              {% csrf_token %}
              <input name="search-info" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Tìm</button>
            </form>
          </li>

      </ul>
    </div>
</nav>